@model webappproject.MVVM.ChangePasswordVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("ChangePassword", "MyAccount", FormMethod.Post, new { @id = "MyForm" }))
{
    <div class="form-horizontal">
        <h2>ChangePassword</h2>
        <h3 style="color:red;">@TempData["Error"]</h3>
        <h3 style="color:lawngreen;">@TempData["Verity"]</h3>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.oldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.oldPassword, new { htmlAttributes = new { @class = "form-control",@type="password" } })
                @Html.ValidationMessageFor(model => model.oldPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.newPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" }  })
                @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.newPasswordConfirmation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newPasswordConfirmation, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.newPasswordConfirmation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change Password" class="btn btn-default" />
            </div>
        </div>
    </div>
}