@model webappproject.MVVM.ChangeEmailVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("ChangeEmail", "MyAccount", FormMethod.Post, new { @id = "MyForm" }))
{
    <div class="form-horizontal">
        <h2>ChangePassword</h2>
        <h3 style="color:red;">@TempData["Error"]</h3>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.newEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newEmail, new { htmlAttributes = new { @class = "form-control",@type= "email" } })
                @Html.ValidationMessageFor(model => model.newEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.oldEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.oldEmail, new { htmlAttributes = new { @class = "form-control",@type= "email" } })
                @Html.ValidationMessageFor(model => model.oldEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change Email" class="btn btn-default" />
            </div>
        </div>
    </div>
}