@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .user-row {
        border-bottom: 1px solid #ccc; /* Adjust the line style and color as needed */
    }

    .small-image {
        max-width: 100px; /* Adjust the desired width */
        max-height: 100px; /* Adjust the desired height */
    }
</style>


<div>
    <form method="get" action="">
        <label for="gender-filter">Filter by Gender:</label>
        <select id="gender-filter" name="genderFilter">
            <option value="">All</option>
            <option value="Male" selected="@(ViewBag.GenderFilter == "Male" ? "selected" : null)">Male</option>
            <option value="Female" selected="@(ViewBag.GenderFilter == "Female" ? "selected" : null)">Female</option>
        </select>
        <button type="submit">Filter</button>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Password</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Profile URL</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr class="user-row">
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>@user.Age</td>
                <td>@user.Gender</td>
                <td>@user.ProfileUrl</td>
                <td><img src="@user.ImagePath" alt="User Image" class="small-image" /></td>
                <td>
                    <form method="post" action="DeleteUser" onsubmit="return confirm('Are you sure you want to delete this user?');">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


